<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mscs.app.web.dao.RoleAppMapper">
	<resultMap id="BaseResultMap" type="com.mscs.app.web.model.RoleApp">
		<result column="app_id" jdbcType="VARCHAR" property="appId" />
		<result column="role_id" jdbcType="VARCHAR" property="roleId" />
	</resultMap>

	<sql id="Base_Column_List">
		app_id,role_id
	</sql>







</mapper>